<div class="d-flex flex-row bd-highlight justify-content-around" >
    <div class="col-6 mx-auto w-25">
      <h1>Crear Curso</h1>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  
        <div class="form-group">
          <label for="crearCuentaForm">Código</label>
          <input type="text" id="codigo" name="codigo" [(ngModel)]="formData.codigo" class="form-control"><br>
        </div>

        <div class="form-group">
          <label for="crearCuentaForm">Nombre</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="formData.nombre" class="form-control"><br>
        </div>
  
        <div class="form-group">
          <label for="crearCuentaForm">Créditos</label>
          <input type="text" id="creditos" name="creditos" [(ngModel)]="formData.creditos" class="form-control"><br>
        </div>

        <div class="form-group">
            <label for="crearCuentaForm">Carrera</label>
            <input type="text" id="carrera" name="carrera" [(ngModel)]="formData.carrera" class="form-control" ><br>
          </div>
  
        <br>
        <br>

        <button class="btn btn-light btn-lg btn-block page-button" type="submit">Submit</button>
      </form>
      <br>
      <br>
      <br>
  
    </div>

    <!--carga la ventana modal donde se permite actualizar la tabla-->
    <div class="w-100">
      <br>
      <br>
      <br>
      <div class = "container">
          <table class = "table  table-bordered table-striped">
              <thead>
                  <tr>
                      <th>Código</th>
                      <th>Nombre</th>
                      <th>Créditos</th>
                      <th>Carrera</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let curso of cursos">
                      <td><span>{{curso.codigo}}</span></td>
                      <td><span>{{curso.nombre}}</span></td>
                      <td><span>{{curso.creditos}}</span></td>
                      <td><span>{{curso.carrera}}</span></td>
                      <div>
                      <button type="button" class="btn btn-outline-danger" (click)="delete(curso.codigo)">Eliminar</button>
                      <button type="button" class="btn btn-outline-success" (click)="save_id(curso.codigo)" data-toggle="modal" data-target="#myModalNorm">Actualizar</button>
                      </div>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>


<!--contenido de la ventana modal-->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">
                    Actualizar datos
                </h3>
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
            </div>
            
            
            <div class="modal-body">
                
              <form #form="ngForm" autocomplete="off" (submit)="update(form)">
  
                    <div class="form-group">
                    <label for="crearCuentaForm">Nombre</label>
                    <input type="text" id="nombre_up" name="nombre_up" [(ngModel)]="formUpdate.nombre" class="form-control"><br>
                    </div>
            
                    <div class="form-group">
                    <label for="crearCuentaForm">Créditos</label>
                    <input type="text" id="creditos_up" name="creditos_up" [(ngModel)]="formUpdate.creditos" class="form-control"><br>
                    </div>
            
                    <div class="form-group">
                        <label for="crearCuentaForm">Carrera</label>
                        <input type="text" id="carrera_up" name="carrera_up" [(ngModel)]="formUpdate.carrera" class="form-control" ><br>
                    </div>
            
                    <br>
                    <br>
                
                <button class="btn btn-light btn-lg btn-block page-button" type="submit">Submit</button>
              </form>
            </div>
        </div>
    </div>
</div>
