<div class="container ">
    <br>
    <br>
        <div class="col-6 mx-auto">
          <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/gestion-cursos']" role="button">Visualizar documentos</a> 
      </div>  
    <br>
    <br>
      <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/subir-excel',username]" role="button">Enviar evaluaciones</a> 
      </div>  
    <br>
    <br>
    <div class="col-6 mx-auto">
      <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/subir-manual',username]" role="button">Reporte de notas del curso</a> 
    </div>  
    <br>
    <br>
    <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/visualizar-noticias',username]" role="button">Visualizar noticias</a> 
      </div> 
</div>
  
