<div class="container ">
    <br>
    <br>
        <div class="col-6 mx-auto">
          <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/gestion-documentos',username]" role="button">Gestión de documentos</a> 
      </div>  
      <br>
      <br>
      <div class="col-6 mx-auto">
          <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/gestion-rubros',username]" role="button">Gestión de rubros</a> 
      </div> 
      <br>
      <br>
          <div class="col-6 mx-auto">
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/subir-evaluaciones',username]" role="button">Asignar evaluaciones</a> 
        </div>
        
      <br>
      <br>
      <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/gestion-noticias',username]" role="button"> Evaluar entregables</a> 
      </div>     

      <br>
      <br>
        <div class="col-6 mx-auto">
          <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/gestion-noticias',username]" role="button">Gestión de noticias</a> 
      </div>     
      <br>
      <br>
      <div class="col-6 mx-auto">
          <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/reporte-notas',username]" role="button">Reporte de notas</a> 
      </div> 
      <br>
      <br>
      <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/reporte-estudiantes',username]" role="button">Reporte de estudiantes matriculados</a> 
      </div>
      <br>
      <br>
</div>
  
  
  